<Card>
    <CardBody>
        <CardTitle>
            Game Log
        </CardTitle>
        <CardSubtitle>
            All game events will be displayed here
        </CardSubtitle>
        <Row>
            <Column>
                <ListView TItem="GameMessage"
                          Data="_gameLog"
                          TextField="item => item.Message"
                          ValueField="item => item.Id.ToString()"
                          Mode="ListGroupMode.Static"
                          MaxHeight="300px"
                          Flush
                          Scrollable>
                    <ItemTemplate>
                        <Div Flex="Flex.InlineFlex.JustifyContent.Between" Width="Width.Is100">
                            <Heading Margin="Margin.Is2.FromBottom">@context.Item.PlayerName</Heading>
                            <Small>
                                @($"{context.Item.PlayerName}: {context.Item.CreatedAt:t}")
                            </Small>
                        </Div>
                        <Paragraph Margin="Margin.Is2.FromBottom">@context.Text</Paragraph>
                    </ItemTemplate>
                </ListView>
            </Column>
        </Row>
    </CardBody>
</Card>