@page "/user/manage/password"
<Row>
    <Column>
        <Heading Size="HeadingSize.Is4">Change Password</Heading>
    </Column>
</Row>
<Row>
    <Column ColumnSize="ColumnSize.IsFull.Is8.OnWidescreen.IsHalf.OnFullHD">
        <Validations @ref="@_validationsRef" Model="@Input" Mode="ValidationMode.Manual">
            <Validation>
                <Field>Old Password</Field>
                <TextEdit @bind-Text="@Input.CurrentPassword" Role="TextRole.Password" Placeholder="Old password">
                    <Feedback>
                        <ValidationError />
                    </Feedback>
                </TextEdit>
            </Validation>
            <Validation>
                <Field>
                    <FieldLabel>New Password</FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="Input.NewPassword" Role="TextRole.Password" Placeholder="New Password">
                            <Feedback>
                                <ValidationError />
                            </Feedback>
                        </TextEdit>
                    </FieldBody>
                </Field>
            </Validation>
            <Field TextAlignment="TextAlignment.Center">
                <Button Color="Color.Primary" Block Clicked="@OnPasswordChangedAsync">Change Password</Button>
            </Field>
        </Validations>
    </Column>
</Row>