@page "/chat"
<Container Margin="Margin.Is3.OnX"
           Padding="Padding.Is2.OnAll"
           Flex="Flex.Column.AlignItems.Center"
           Fluid>
    <Row Margin="Margin.Is2.FromBottom">
        <Column Width="Width.Is100"
            ColumnSize="ColumnSize.Is8.OnFullHD.Is10.OnDesktop.IsFull.OnTablet">
            @if (!_messages.Any())
            {
                <ListGroup Background="Background.Dark"
                       TextColor="TextColor.Light"
                       Border="Border.Is0.OnAll.Rounded">
                    <Div ElementId="#b-animate">
                        <ListGroupItem 
                            Background="Background.Dark" 
                            Border="Border.Is0.OnAll.Rounded" 
                            Name="TestMessage">
                            <Animate 
                                Anchor="#b-animate" 
                                Auto 
                                Animation="Animations.FadeUp" 
                                DelayMilliseconds="500">
                                <ChatMessageComponent Message="Testing 123" Username="Sample User" />
                            </Animate>
                        </ListGroupItem>
                    </Div>
                </ListGroup>
            }
            else
            {
                <ListGroup Background="Background.Dark" TextColor="TextColor.Light" Border="Border.Is0.OnAll">
                    <Div ElementId="#b-animate">
                        <Repeater Items="_messages" TItem="CawChatMessageDto">
                            <ListGroupItem 
                                Background="Background.Dark" 
                                Border="Border.Is0.OnAll" 
                                Name="@context.Id.ToString()">
                                <Animate Anchor="#b-animate" 
                                         Auto 
                                         Animation="Animations.FadeUp" 
                                         DelayMilliseconds="500">
                                    <ChatMessageComponent Message="@context.Message" Username="@context.FromUser.UserName"/>
                                </Animate>
                            </ListGroupItem>
                        </Repeater>
                    </Div>
                </ListGroup>
            }
        </Column>
    </Row>
    <Row>
        <Column Width="Width.Is100"
            ColumnSize="ColumnSize.IsThird.OnFullHD.IsHalf.OnWidescreen.IsFull.OnMobile">
        <Form Display="Display.InlineFlex.Row" Width="Width.Is100">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit Placeholder="Enter your message" @bind-Text="@_newMessage"/>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <Button Color="Color.Primary"
                            TextColor="TextColor.White"
                            Shadow="Shadow.Default"
                            Type="ButtonType.Submit"
                            Clicked="SendAsync"
                            PreventDefaultOnSubmit>
                        <Icon Name="IconName.PaperPlane" IconStyle="IconStyle.Solid" TextColor="TextColor.White"/>
                        <Span Class="visually-hidden">Send message</Span>
                    </Button>
                </Addon>
            </Addons>
        </Form>
        </Column>
    </Row>
</Container>
