@page "/"
<SEO Canonical="/" 
     Title="Crows Against Humility" 
     Description="Crows Against Humility is a streamer-friendly client for playing a game of Cards Against humanity"/>
<AuthorizeView>
    <Authorized>
        <Row Display="Display.Flex">
            <Column ColumnSize="ColumnSize.IsFull.OnMobile">
                <Container Fluid
                           VerticalAlignment="VerticalAlignment.Middle"
                           TextAlignment="TextAlignment.Center">
                    <Button Type="ButtonType.Button" Color="Color.Primary"
                            Border="Border.Is0.Rounded"
                            Clicked="ShowGameCreator">
                        Show Game Creator Screen <Icon Name="IconName.Gamepad" />
                    </Button>
                </Container>
            </Column>
        </Row>
    </Authorized>
    <NotAuthorized>
        <Row Display="Display.Flex">
            <Column ColumnSize="ColumnSize.IsFull.OnMobile">
                <Container Fluid
                           VerticalAlignment="VerticalAlignment.Middle"
                           TextAlignment="TextAlignment.Center">
                    <Button Type="ButtonType.Button" Color="Color.Primary"
                            Border="Border.Is0.Rounded"
                            Clicked="ShowGameCreator">
                        Show Game Creator Screen <Icon Name="IconName.Gamepad" />
                    </Button>
                </Container>
            </Column>
        </Row>
        <Row>
            <Column ColumnSize="ColumnSize.IsHalf.OnWidescreen.Is8.OnTablet.IsFull.OnMobile">
                <Container Fluid Margin="Margin.Is2.OnY.Is2.OnX.OnDesktop.Is4.OnX.OnTablet.Is5.OnX.OnMobile"
                           Padding="Padding.Is2.OnY.OnDesktop.Is4.OnY.OnMobile">
                    <Card Background="Background.Dark"
                          Border="Border.Is2.Secondary.OnAll.Rounded"
                          TextAlignment="TextAlignment.Center"
                          TextColor="TextColor.Light">
                        <CardBody>
                            <Paragraph TextWeight="TextWeight.Bold" Italic>
                                Log In to see more options, and create a game!
                            </Paragraph>
                        </CardBody>
                    </Card>
                </Container>
            </Column>
        </Row>
    </NotAuthorized>
</AuthorizeView>
