@page "/privacy-policy"
<SEO Canonical="/privacy-policy"
     Title="The Omen Den Privacy policy"
     Description="The Omen Den takes your privacy seriously, and will only use your personal information defined in the secure policy on this page" />
<Container>
    <Row Flex="Flex.JustifyContent.Center.AlignItems.Center"
         Background="Background.Dark"
         Margin="Margin.Is4.OnY"
         Padding="Padding.Is3.OnX">
        <Column ColumnSize="ColumnSize.Is8.OnFullHD.Is10.OnDesktop.IsFull.OnMobile">
            <Div TextColor="TextColor.Light"
                 id="__enzuzo-root-privacy"
                 Shadow="Shadow.Large"
                 Padding="Padding.Is2.OnX.Is2.OnY">
            </Div>
        </Column>
    </Row>
</Container>