@page "/user/{UserName}"
<Row>
    <Column ColumnSize="ColumnSize.IsFull.OnDesktop">
        <Card Margin="Margin.Is3.FromBottom" Shadow="Shadow.Default"
              Background="Background.Dark" TextColor="TextColor.Light"
              Border="Border.Is2.Light.OnAll.Rounded">
            <CardBody>
                @if (_userViewModel is not null)
                {
                    <Row>
                        <Column ColumnSize="ColumnSize.IsThird.OnWidescreen" Flex="Flex.AlignSelf.Center">
                            <Blazorise.Link To="#" TextAlignment="TextAlignment.Center"
                                        Display="Display.Block"
                                        Margin="Margin.Is4.FromBottom">
                                <Image Source="@_userViewModel.ImageUrl" Text="@_userViewModel.Username" Fluid Style="max-width: 200px;" />
                            </Blazorise.Link>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is8.OnWidescreen">
                            <Form>
                                <Heading Size="HeadingSize.Is3" Margin="Margin.Is3.FromTop">
                                    @_userViewModel.Username
                                </Heading>
                                <Paragraph Margin="Margin.Is1.FromBottom">
                                    @@(@_userViewModel.Pronouns)
                                </Paragraph>
                            </Form>
                        </Column>
                    </Row>
                }
                else
                {
                    <Row>
                        <Column>
                            User not found.
                        </Column>
                    </Row>
                }
            </CardBody>
        </Card>
    </Column>
</Row>