@page "/auth-error/{ErrorEnumValue}"
@page "/auth-error/{ErrorEnumValue}/{Description}"
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.IsHalf.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Card Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Border="Border.Is2.Secondary.OnAll.Rounded"
                  Shadow="Shadow.Default">
                <CardBody>
                    <Text TextAlignment="TextAlignment.Center">
                        <Heading Size="HeadingSize.Is2" 
                                 TextAlignment="TextAlignment.Center"
                                 Flex="Flex.JustifyContent.Center.AlignItems.Center">
                            <Text TextColor="TextColor.Danger"
                                  Padding="Padding.Is4.FromEnd">
                                Authentication Error!
                            </Text>
                        </Heading>
                    </Text>
                    <Paragraph Class="lead"
                               TextAlignment="TextAlignment.Center">
                        We ran into a problem when we tried to authenticate your account.
                    </Paragraph>
                    <Paragraph Class="lead"
                               TextAlignment="TextAlignment.Center">
                        @_errorText
                    </Paragraph>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>