@page "/forgot-password"
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.Is6.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Text TextAlignment="TextAlignment.Center"
                  Margin="Margin.Is4.FromTop">
                <Heading Size="HeadingSize.Is2"
                         TextAlignment="TextAlignment.Center">
                    Forgot Password
                </Heading>
                <Paragraph Class="lead"
                           TextAlignment="TextAlignment.Center">
                    Enter your email to reset your password.
                </Paragraph>
            </Text>
            <Card Shadow="Shadow.Default"
                  Border="Border.Is2.Light.OnAll.Rounded"
                  Background="Background.Dark">
                <CardText TextColor="TextColor.Light">
                    A password reset link will be sent to your email to reset your password. If you don't get an email within a few minutes, please re-try.
                </CardText>
                <Div Margin="Margin.Is4.OnTablet">
                    <Form>
                        <Validations @ref="@_validationsRef" Model="@Input" Mode="ValidationMode.Manual">
                            <Validation>
                                <Field>
                                    <FieldLabel TextColor="TextColor.Light">Email</FieldLabel>
                                    <TextEdit @bind-Text="@Input.Email" Role="TextRole.Email" Placeholder="Enter your email">
                                        <Feedback>
                                            <ValidationError />
                                        </Feedback>
                                    </TextEdit>
                                </Field>
                            </Validation>
                            <Field TextAlignment="TextAlignment.Center">
                                <Button Type="ButtonType.Submit" PreventDefaultOnSubmit
                                        Color="Color.Primary"
                                        Border="Border.Is2.Light.OnAll.Rounded"
                                        Block
                                        Clicked="OnResetClickedAsync">
                                    Reset Password
                                </Button>
                            </Field>
                        </Validations>
                    </Form>
                </Div>
                <Div Display="Display.TableCell"
                     VerticalAlignment="VerticalAlignment.Middle">
                    <Card Background="Background.Dark" TextColor="TextColor.Light"
                          Border="Border.Is0"
                          Shadow="Shadow.None"
                          Margin="Margin.Is2.FromStart.OnDesktop.Is4.FromStart.OnTablet">
                        <CardBody>
                            <Paragraph TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                                Already have an account?
                                <Blazorise.Link To="login">Login</Blazorise.Link>
                            </Paragraph>
                        </CardBody>
                    </Card>
                </Div>
            </Card>
        </Div>
    </Column>
</Row>