@page "/reset-password"
@using Microsoft.AspNetCore.Identity
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.IsHalf.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell" VerticalAlignment="VerticalAlignment.Middle">
            <Text TextAlignment="TextAlignment.Center"
                  Margin="Margin.Is4.FromTop">
                <Heading Size="HeadingSize.Is2"
                         TextAlignment="TextAlignment.Center">
                    Reset Password
                </Heading>
                <Paragraph>
                    Reset your password
                </Paragraph>
            </Text>
            <Card Shadow="Shadow.Default"
                  Border="Border.Is2.Light.OnAll.Rounded"
                  Background="Background.Dark"
                  TextColor="TextColor.Light">
                <CardBody>
                    <Div Margin="Margin.Is4.OnTablet">
                        <Form>
                            <Validations @ref="@_validationsRef" Model="@Input" Mode="ValidationMode.Manual">
                                <Validation>
                                    <Field>
                                        <FieldLabel>Email</FieldLabel>
                                        <TextEdit @bind-Text="Input.Email"
                                                  Role="TextRole.Email"
                                                  Placeholder="Enter your email"
                                                  ReadOnly>
                                            <Feedback>
                                                <ValidationError />
                                            </Feedback>
                                        </TextEdit>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Password</FieldLabel>
                                        <FieldBody>
                                            <TextEdit @bind-Text="Input.Password" Role="TextRole.Password"
                                                      Placeholder="Enter password">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                                <Validation>
                                    <Field>
                                        <FieldLabel>Password</FieldLabel>
                                        <FieldBody>
                                            <TextEdit @bind-Text="Input.ConfirmPassword" Role="TextRole.Password"
                                                      Placeholder="Confirm password">
                                                <Feedback>
                                                    <ValidationError />
                                                </Feedback>
                                            </TextEdit>
                                        </FieldBody>
                                    </Field>
                                </Validation>
                                <Field TextAlignment="TextAlignment.Center">
                                    <Button Type="ButtonType.Submit" PreventDefaultOnSubmit
                                            Color="Color.Primary"
                                            Border="Border.Is2.Secondary.OnAll.Rounded"
                                            Block
                                            Clicked="OnRegisterClickedAsync">
                                        Submit
                                    </Button>
                                </Field>
                            </Validations>
                        </Form>
                    </Div>
                </CardBody>
            </Card>
            @if (HasErrors)
            {
                <Row Margin="Margin.Is3.FromTop">
                    <Column ColumnSize="ColumnSize.IsFull">
                        <Alert Color="Color.Danger" Margin="Margin.Is3.FromTop" Visible>
                            @if(Errors.Any())
                            {
                                <Repeater TItem="IdentityError" Items="Errors">
                                    <AlertMessage Display="Display.Block">
                                        * @context.Description
                                    </AlertMessage>
                                </Repeater>
                            }
                            else
                            {
                                <AlertMessage>Invalid username or password.</AlertMessage>
                            }
                        </Alert>
                    </Column>
                </Row>
            }
            <Row Margin="Margin.Is3.FromTop">
                <Column ColumnSize="ColumnSize.IsFull">
                    <Paragraph TextColor="TextColor.Muted" TextAlignment="TextAlignment.Center">
                        Already Have an account? 
                        <Blazorise.Link To="login">Login</Blazorise.Link>
                    </Paragraph>
                </Column>
            </Row>
        </Div>
    </Column>
</Row>