<Div Class="cah-card light" Margin="Margin.Is2.FromStart">
    <Div Class="fullsize-container">
        <Div Class="front">
            <Paragraph>@_whiteCard?.Message</Paragraph>
        </Div>
        <Div Class="back">
            <Span Class="cah-card-text"
                  TextColor="TextColor.Dark"
                  Position="Position.Absolute"
                  Flex="Flex.AlignItems.Center"
                  TextWeight="TextWeight.Bold">
                Cards Against Humanity
            </Span>
        </Div>
    </Div>
</Div>