<ListGroup>
        <ListGroupItem>
            <Card Background="Background.Dark">
                <CardHeader TextColor="TextColor.Muted">
                    <Span TextAlignment="TextAlignment.Start" Flex="Flex.AlignContent.Start.JustifyContent.Start">
                        <Icon Name="IconName.UserCheck" />
                    </Span>
                    <Span TextAlignment="TextAlignment.End" Flex="Flex.AlignContent.End.JustifyContent.End">
                        From: Username
                    </Span>
                </CardHeader>
                <CardBody>
                    <Paragraph TextColor="TextColor.Light">Chat message</Paragraph>
                </CardBody>
                <CardFooter TextColor="TextColor.Muted">
                    Sent x amount of time ago.
                </CardFooter>
            </Card>
        </ListGroupItem>
</ListGroup>
<Form>
    <Addons>
        <Addon AddonType="AddonType.Start">
            <EmojiSelector />
        </Addon>
        <Addon AddonType="AddonType.Body">
            <TextEdit />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Button Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Shadow="Shadow.Default">
                <Icon Name="IconName.PaperPlane" IconSize="IconSize.Large"/>
                <Span Class="visually-hidden">Send Chat</Span>
            </Button>
        </Addon>
    </Addons>
</Form>