<Container Fluid>
    <Div Height="Height.Is100">
        <Row>
            <Column ColumnSize="ColumnSize.Is10.OnTablet.IsHalf.OnDesktop.IsThird.OnWidescreen">
                <Card>
                    <CardBody>

                    </CardBody>
                </Card>
            </Column>
        </Row>
    </Div>
</Container>