<ModalHeader Background="Background.Dark" TextColor="TextColor.Light">
    <ModalTitle>Create your Game</ModalTitle>
    <CloseButton Class="btn-close-white" />
</ModalHeader>
<ModalBody>
    <Row Height="Height.Is100">
        <Column>
            <Tabs RenderMode="TabsRenderMode.LazyReload" SelectedTab="tab1"
                  Margin="Margin.Is2.FromTop.Is3.FromBottom">
                <Items>
                    <Tab Name="tab1">Base Game Information</Tab>
                    <Tab Name="tab2">Expansion Pack Selection</Tab>
                    <Tab Name="tab3">Players</Tab>
                    <Tab Name="tab4">Game Rules</Tab>
                    <Tab Name="tab5">Finalize</Tab>
                </Items>
                <Content>
                    <TabPanel Name="tab1">
                        <Fields>
                            <Field Horizontal>
                                <FieldLabel>
                                    Lobby Name
                                </FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="_createModal.RoomName" />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Lobby Password
                                </FieldLabel>
                                <FieldBody>
                                    <TextEdit @bind-Text="@_createModal.Password" Role="TextRole.Password" />
                                </FieldBody>
                            </Field>
                            <Field Horizontal>
                                <FieldLabel>
                                    Generated Code
                                </FieldLabel>
                                <FieldBody>
                                    <TextEdit Plaintext ReadOnly Text="@_createModal.RoomCode" />
                                </FieldBody>
                            </Field>
                        </Fields>
                    </TabPanel>
                    <TabPanel Name="tab2">
                        <ListView TItem="Pack"
                                  Data="_packs"
                                  TextField="item => item.Name"
                                  ValueField="item => item.Id.ToString()"
                                  Flush>
                            <ItemTemplate>
                                <Div Flex="Flex.JustifyContent.Between.AlignItems.Center" Width="Width.Is100">
                                    <Heading Margin="Margin.Is2.FromBottom">@context.Item.Name</Heading>
                                    @if (context.Item.IsOfficialPack)
                                    {
                                        <Badge Color="Color.Primary" Pill>
                                            <Icon Name="IconName.CheckCircle"/>
                                            <Span Class="visually-hidden">
                                                Official Cards Against Humanity Pack
                                            </Span>
                                        </Badge>
                                    }
                                </Div>
                            </ItemTemplate>
                        </ListView>
                    </TabPanel>
                    <TabPanel Name="tab3">
                    </TabPanel>
                    <TabPanel Name="tab4">
                    </TabPanel>
                    <TabPanel Name="tab5">
                    </TabPanel>
                </Content>
            </Tabs>
        </Column>
    </Row>
</ModalBody>
<ModalFooter>
    <Buttons Role="ButtonsRole.Toolbar"
             Flex="Flex.AlignItems.Center.JustifyContent.Between">
        <Button Color="Color.Primary" Margin="Margin.Is2.OnX">Create Game <Icon Name="IconName.Gamepad" /></Button>
        <Button Color="Color.Secondary" Margin="Margin.Is2.OnX" Clicked="OnCancelClickedAsync">Cancel</Button>
    </Buttons>
</ModalFooter>