<AuthorizeView>
    <Authorized>
        <BarDropdown RightAligned>
            <BarDropdownToggle>@context.User.Identity.Name</BarDropdownToggle>
            <BarDropdownMenu>
                @if (context.User.IsInRole("Administrator"))
                {
                    <BarDropdownItem Background="Background.Dark" TextColor="TextColor.Light" To="admin/manage">
                        Admin Actions
                    </BarDropdownItem>
                }
                <BarDropdownItem Background="Background.Dark" TextColor="TextColor.Light" To="user/manage">
                    Account
                </BarDropdownItem>
                <BarDropdownDivider />
                <form method="post" action="Account/LogoutInternal">
                    <button type="submit" class="dropdown-item">Log out</button>
                </form>
            </BarDropdownMenu>
        </BarDropdown>
    </Authorized>
    <NotAuthorized>
        <BarLink Background="Background.Dark" TextColor="TextColor.Light" To="login">Log in</BarLink>
    </NotAuthorized>
</AuthorizeView>