@inherits Fluxor.Blazor.Web.Components.FluxorComponent
<AuthorizeView>
    <Authorized>
        <BarDropdown RightAligned>
            <BarDropdownToggle>@_userDisplayName</BarDropdownToggle>
            <BarDropdownMenu Background="Background.Dark"
                             TextColor="TextColor.Light"
                             Shadow="Shadow.Default">
                @if (IsAdminRole())
                {
                    <BarDropdownItem To="admin/manage" Title="admin">
                        Admin Actions
                    </BarDropdownItem>
                }
                <BarDropdownItem Background="Background.Dark"
                                 Title="Manage User Profile"
                                 TextAlignment="TextAlignment.Center"
                                 To="user/manage"
                                 TextColor="TextColor.Info"
                                 TextWeight="TextWeight.Bold">
                    Account
                </BarDropdownItem>
                <BarDropdownDivider Background="Background.Light" />
                <BarDropdownItem Background="Background.Dark"
                                 Title="Logout User"
                                 TextAlignment="TextAlignment.Center">
                    <Form method="post" action="Account/LogoutInternal">
                        <Button Type="ButtonType.Submit"
                                Color="Color.Danger"
                                TextColor="TextColor.Light">
                            Log out
                        </Button>
                    </Form>
                </BarDropdownItem>
            </BarDropdownMenu>
        </BarDropdown>
    </Authorized>
    <NotAuthorized>
        <Button Type="ButtonType.Link"
                Background="Background.Secondary"
                TextColor="TextColor.Light"
                To="login">
            Log in
        </Button>
    </NotAuthorized>
</AuthorizeView>