<AuthorizeView>
    <Authorized>
        <BarDropdown RightAligned>
            <BarDropdownToggle>@context.User.Identity.Name</BarDropdownToggle>
            <BarDropdownMenu>
                @if (context.User.IsInRole("Administrator"))
                {
                    <BarDropdownItem Background="Background.Dark" TextColor="TextColor.Light" To="admin/manage">
                        Admin Actions
                    </BarDropdownItem>
                }
                <BarDropdownItem Background="Background.Dark" TextColor="TextColor.Light" To="user/manage">
                    Account
                </BarDropdownItem>
                <BarDropdownDivider />
                <Form method="post" action="Account/LogoutInternal">
                    <Button Type="ButtonType.Submit" PreventDefaultOnSubmit Class="dropdown-item">Log out</Button>
                </Form>
            </BarDropdownMenu>
        </BarDropdown>
    </Authorized>
    <NotAuthorized>
        <Button Type="ButtonType.Link" 
                Background="Background.Secondary" 
                TextColor="TextColor.Light" 
                To="login" 
                Border="Border.Is2.Primary.OnAll.Rounded">Log in</Button>
    </NotAuthorized>
</AuthorizeView>