<AuthorizeView>
    <Authorized>
        <BarDropdown RightAligned>
            <BarDropdownToggle>@context.User.Identity.Name</BarDropdownToggle>
            <BarDropdownMenu 
                Background="Background.Dark" 
                TextColor="TextColor.Light"
                Shadow="Shadow.Default">
                @if (context.User.IsInRole("Administrator"))
                {
                    <BarDropdownItem To="admin/manage" Title="admin">
                        Admin Actions
                    </BarDropdownItem>
                }
                <BarDropdownItem Background="Background.Dark"
                                 Title="manageuser"
                                 TextAlignment="TextAlignment.Center">
                    <Button Type="ButtonType.Link" 
                            To="user/manage" 
                            Color="Color.Info"
                            TextColor="TextColor.Dark">
                        Account
                    </Button>
                </BarDropdownItem>
                <BarDropdownDivider Background="Background.Light" />
                <BarDropdownItem Background="Background.Dark"
                                 Title="logoutuser"
                                 TextAlignment="TextAlignment.Center">
                    <Form method="post" action="Account/LogoutInternal">
                        <Button Type="ButtonType.Submit"
                                Color="Color.Danger"
                                TextColor="TextColor.Light">
                            Log out
                        </Button>
                    </Form>
                </BarDropdownItem>
            </BarDropdownMenu>
        </BarDropdown>
    </Authorized>
    <NotAuthorized>
        <Button Type="ButtonType.Link"
                Background="Background.Secondary"
                TextColor="TextColor.Light"
                To="login">
            Log in
        </Button>
    </NotAuthorized>
</AuthorizeView>