@page "/confirmed-email"
@inject NavigationManager NavigationManager
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.IsHalf.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Card Shadow="Shadow.Default"
                  Background="Background.Dark"
                  Border="Border.Is2.Light.OnAll.Rounded"
                  TextColor="TextColor.Light">
                <CardBody>
                    <Text TextAlignment="TextAlignment.Center">
                        <Heading Size="HeadingSize.Is2"
                                 TextAlignment="TextAlignment.Center"
                                 Flex="Flex.JustifyContent.Center.AlignItems.Center">
                            <Icon Name="IconName.Check" TextColor="TextColor.Success"
                                  Padding="Padding.Is4.FromEnd"
                                  IconSize="IconSize.x2" />
                            Success!
                        </Heading>
                    </Text>
                    <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                        Your email has been confirmed.
                    </Paragraph>
                    <Div Margin="Margin.Is4.OnTablet">
                        <Field TextAlignment="TextAlignment.Center">
                            <Button Color="Color.Primary" 
                                    Border="Border.Is2.Light.OnAll.Rounded"
                                    Shadow="Shadow.Default"
                                    Block 
                                    Clicked="OnLoginClickedAsync">Login</Button>
                        </Field>
                    </Div>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>
@code {
    private Task OnLoginClickedAsync()
    {
        NavigationManager.NavigateTo("login");

        return Task.CompletedTask;
    }
}