@page "/forgot-password-confirmation"
@inject NavigationManager NavigationManager
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.IsHalf.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Card Shadow="Shadow.Default"
                  Background="Background.Dark"
                  TextColor="TextColor.Light"
                  Border="Border.Is2.Light.OnAll.Rounded">
                <CardBody>
                    <Text TextAlignment="TextAlignment.Center">
                        <Heading Size="HeadingSize.Is2"
                                 TextAlignment="TextAlignment.Center"
                                 Flex="Flex.JustifyContent.Center.AlignItems.Center">
                            <Icon Name="IconName.Times"
                                  TextColor="TextColor.Warning"
                                  Padding="Padding.Is4.FromEnd"
                                  IconSize="IconSize.x2"
                            />
                            Forgot password confirmation
                        </Heading>
                    </Text>
                    <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                        Please chekc your email to reset your password.
                    </Paragraph>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>