@page "/reset-password-confirmation"
@inject NavigationManager NavigationManager
<Row Height="Height.Is100">
    <Column Height="Height.Is100"
            ColumnSize="ColumnSize.Is10.OnTablet.Is8.OnDesktop.IsHalf.OnWidescreen"
            Margin="Margin.IsAuto.OnX"
            Display="Display.Table">
        <Div Display="Display.TableCell"
             VerticalAlignment="VerticalAlignment.Middle">
            <Card Shadow="Shadow.Default"
                  Background="Background.Dark"
                  Border="Border.Is2.Light.OnAll.Rounded"
                  TextColor="TextColor.Light">
                <CardBody>
                    <Text TextAlignment="TextAlignment.Center">
                        <Heading Size="HeadingSize.Is2"
                                 TextAlignment="TextAlignment.Center"
                                 Flex="Flex.JustifyContent.Center.AlignItems.Center">
                            <Icon Name="IconName.Check" TextColor="TextColor.Success"
                                  Padding="Padding.Is4.FromEnd"
                                  IconSize="IconSize.x2" />
                            Reset Password
                        </Heading>
                    </Text>
                    <Paragraph Class="lead" TextAlignment="TextAlignment.Center">
                        Your password has been reset. Please <Blazorise.Link To="login">click here to log in</Blazorise.Link>
                    </Paragraph>
                </CardBody>
            </Card>
        </Div>
    </Column>
</Row>