@inherits LayoutComponentBase
<Div Flex="Flex.JustifyContent.Center" Width="Width.Is100" Height="Height.Is100.Min.Viewport">
    <Div Display="Display.Flex" Width="Width.Is100" Padding="Padding.Is0">
        <Container Display="Display.Flex.Column" Padding="Padding.Is0">
            @Body
        </Container>
    </Div>
</Div>