@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="container-fluid mt-5 pt-5">
    <h1 class="text-light fw-bolder text-decoration-underline text-center">@ViewData["Title"]</h1>
    <div class="container-fluid bg-dark text-light border border-secondary border-3 rounded-3 shadow-lg flex-shrink-1 col-6">
        <h2 class="text-warning fw-bold fst-italic text-center mt-2 pt-3">Enter your email.</h2>
        <hr />
        <div class="row justify-content-center align-items-center">
            <div class="col-sm-4 col-md-6 col-lg-8">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-group mb-3 rounded shadow">
                        <span class="input-group-text"><i class="bi bi-envelope-fill text-dark"></i></span>
                        <div class="form-floating">
                            <input asp-for="Input.Email" type="email" id="resetEmailInput" placeholder="Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" for="resetEmailInput" class="text-dark mb-2"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col mx-auto">
                        <button type="submit" class="w-100 btn btn-lg btn-primary border-2 border-light rounded-3 shadow mb-3 text-decoration-underline">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
