@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}
<div class="container-fluid justify-content-center align-content-center">
    <h1 class="text-light fw-bolder mb-4 pb-2 text-decoration-underline text-center">@ViewData["Title"]</h1>
    <div class="bg-dark text-center border border-3 border-secondary rounded-3 shadow-lg">
        <h2 class="text-warning fw-bold mt-3 py-2">Enter your email.</h2>
        <hr class="border border-light border-1 opacity-50" />
        <div class="row flex-row justify-content-center">
            <div class="col col-sm-6 col-lg-8 col-md-6 mx-3 px-4 pb-3 text-center">
                <form method="post" class="w-75 px-4 ms-2">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group has-validation">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-fill text-dark"></i>
                        </span>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="Email" type="email" />
                            <label asp-for="Input.Email" class="form-label text-dark"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <button role="button" type="submit" class="w-100 btn btn-lg btn-primary mt-3 border border-light border-2 rounded-2 shadow">Resend</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
