@page "/cookie"
<SEO Canonical="/cookie" Title="Cookie Consent Page" Description="This details the role of cookies and our use of them on this website, and allows for further reading into them." />
<Container>
    <Row Background="Background.Dark"
         TextColor="TextColor.Light"
         Border="Border.Is0.Rounded"
         Margin="Margin.Is2.OnY"
         Padding="Padding.Is4.OnX"
         Height="Height.Is100">
        <Column Height="Height.Is100"
                ColumnSize="ColumnSize.Is8.OnFullHD.Is10.OnWidescreen.IsFull.OnTablet">
            <Div id="CookieDeclaration"></Div>
        </Column>
    </Row>
</Container>
