@page "/game-list"

<Container Fluid
           Background="Background.Dark"
           TextColor="TextColor.Light">
    <Card Background="Background.Transparent" TextColor="TextColor.Light">
        <CardHeader Background="Background.Secondary" TextColor="TextColor.Light">
            Create A Game!
        </CardHeader>
        <CardBody Background="Background.Transparent" TextColor="TextColor.Light">
            <Form Background="Background.Transparent" TextColor="TextColor.Light">
                <Field>
                    <FieldLabel>
                        Game Name
                    </FieldLabel>
                    <FieldBody>
                        <TextEdit @bind-Text="@_gameName" Placeholder="Pick Your Game's Name"/>
                    </FieldBody>
                    <FieldLabel>
                        Room Code
                    </FieldLabel>
                    <TextEdit Plaintext 
                              TextColor="TextColor.Light"
                              Text="@GenerateGameCode()"
                              @bind="@_gameCode" />
                </Field>
                <CreateCrowGameComponent IsVisible="@ShowCreateCrowGame()" />
            </Form>
        </CardBody>
    </Card>
</Container>