@page "/login"
<PageTitle>Login/Register</PageTitle>
<Jumbotron Background="Background.Transparent"
           TextColor="TextColor.Light"
           Margin="Margin.Is3.OnY.Is2.OnX"
           Flex="Flex.Column.Grow.Is1.Shrink.Is1.JustifyContent.Center.AlignItems.Center"
           Border="Border.Is0.OnAll">
    <JumbotronTitle Size="JumbotronTitleSize.Is2"
                    TextAlignment="TextAlignment.Center"
                    TextColor="TextColor.Light">
        Please Sign In
    </JumbotronTitle>
    <Form Border="Border.Light.OnAll.Rounded.Is2"
          Shadow="Shadow.Large"
          Flex="Flex.Column.JustifyContent.Center"
          Background="Background.Dark"
          Margin="Margin.Is2.OnX.Is3.OnY"
          Padding="Padding.Is4.OnAll">
        <Div TextAlignment="TextAlignment.Center"
             Flex="Flex.Column.AlignSelf.Center">
            <Field>
                <FieldLabel>User name<Icon Name="IconName.UserCheck" IconSize="IconSize.Default" TextColor="TextColor.Light" /></FieldLabel>
                <TextEdit Placeholder="Username" Autofocus />
            </Field>
            <Field>
                <FieldLabel>Password<Icon Name="IconName.Key" IconSize="IconSize.Default" TextColor="TextColor.Light" /></FieldLabel>
                <Validation UsePattern>
                <TextEdit 
                    Placeholder="Password" 
                    Role="TextRole.Password"
                              Pattern="@PasswordPattern">
                    <FieldHelp>
                        Password strength:
                        <Text TextColor="TextColor.Danger">
                            weak
                        </Text>
                    </FieldHelp>
                </TextEdit>
                </Validation>
            </Field>
        </Div>
        <Check Checked="true"
               TValue="bool"
               Padding="Padding.Is2.OnY"
               Margin="Margin.Is3.FromStart">Remember Me</Check>
        <Buttons Background="Background.Transparent" 
                 Role="ButtonsRole.Toolbar"
                 Flex="Flex.Column.AlignContent.Center"
                 Padding="Padding.Is4.OnX"
                 Margin="Margin.Is1.OnY">
            <Button Type="ButtonType.Submit"
                    Color="Color.Primary"
                    Border="Border.Light.OnAll.Is1.Rounded"
                    Margin="Margin.Is2.FromBottom"
                    Block
                    PreventDefaultOnSubmit>
                Submit
            </Button>
            <Button Type="ButtonType.Reset"
                    Color="Color.Secondary"
                    Border="Border.Light.OnAll.Is1.Rounded"
                    Margin="Margin.Is2.FromTop"
                    Block>
                Clear
            </Button>
        </Buttons>
    </Form>


    <ListGroup Background="Background.Transparent"
               Border="Border.Is0.OnAll"
               Flush
               Margin="Margin.Is2.OnY.Is3.OnX">
        <ListGroupItem Background="Background.Transparent"
                       Border="Border.Is0.OnAll">
            <Card Background="Background.Dark"
                  TextColor="TextColor.Light"
                  TextAlignment="TextAlignment.Center"
                  Border="Border.Is0.OnAll.Rounded">
                <CardTitle>Crows Against Humility</CardTitle>
                <CardSubtitle>A fan-made Cards Against Humanity client</CardSubtitle>
                <CardBody>
                    Created by The Omen Den
                    <sup>
                        <Icon TextColor="TextColor.Light"
                              Name="@("bi bi-badge-tm")"
                              IconSize="IconSize.Small" />
                    </sup>
                </CardBody>
                <CardBody>
                    This client is entirely fan-made, not associated with, nor partnered with Cards Against Humanity in any way, whatsoever
                </CardBody>
                <CardFooter Border="Border.Is0.OnAll">
                    Powered by <Blazorise.Link To="https://blazorise.com">Blazorise</Blazorise.Link>
                </CardFooter>
            </Card>
        </ListGroupItem>
    </ListGroup>
</Jumbotron>