<Row Shadow="Shadow.Default">
    <Div Class="footer_bottom" Background="Background.Dark">
        <Container>
            <Row Flex="Flex.Row.AlignContent.Center.JustifyContent.Center">
                <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is5.OnDesktop">
                    <BarItem>
                        <Text TextWeight="TextWeight.Light" Italic TextColor="TextColor.Muted">
                            <Blazorise.Icon Name="IconName.Code" IconSize="IconSize.ExtraSmall" IconStyle="IconStyle.Light" />
                            Version @AssemblyProductVersion
                        </Text>
                    </BarItem>
                </Column>
                <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is5.OnDesktop">
                    <Text TextWeight="TextWeight.Light" Italic TextColor="TextColor.Muted" Margin="Margin.Is0.FromBottom.OnDesktop" Class="f_400">
                        <Blazorise.Icon Name="IconName.Copyright" IconSize="IconSize.ExtraSmall" />
                        @ApplicationDevelopmentCompany
                    </Text>
                </Column>
            </Row>
        </Container>
    </Div>
</Row>