@use "_colors.scss" as c;

.pack-node-list {
    margin: 0;
    padding: 0;
    max-height: 800px;
}

.pack-node-card-list {
    margin: 0;
    padding: 0;
    max-height: 300px;
}

.pack-node-list-item {
    width: 100%;
    height: 100%;
    background-color: c.$crowbot-grey;
    font-weight: bolder !important;
}

.pack-node-list-item:hover {
    cursor: pointer;
    background-color: c.$theomenden-light !important;
}