$theomenden-bright: #FF00A0;
$theomenden-dark: #120458;
$theomenden-light: #FE75FE;
$theomenden-white: #fff;
$theomenden-black: #000;
$theomenden-medium: #7A04AB;
$crowbot-black: #000000;
$crobot-white: #ffffff;
$crowbot-red: #BF1D1A;
$crowbot-blue: #1029BA;
$crowbot-pastelBlue: #AECCD3;
$crowbot-green: #056519;
$crowbot-pastelGreen: #B2D2B6;
$crowbot-purple: #510772;
$crowbot-pastelPurple: #B185C7;
$crowbot-lightPurple: #8514A8;
$crowbot-pastelLavender: #EADBF3;
$crowbot-gold: #BC9A00;
$crowbot-pastelGold: #E4D6B2;
$crowbot-grey: #cecece;