.chat {
    width: 100%;
    max-width: 500px;
    margin: 55px auto;
    background: darkgray;
    border-radius: 20px 20px 0 0;
}

.chat-messages {
    height: 500px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: auto;
    padding: 30px;
    overflow: hidden;

    > * + * {
        margin-top: 40px;
    }
}

.chat-message {
    &--sent {
        text-align: right;

        .chat-bubble {
            background: #A5668B;
            color: white;
        }

        & + & {
            margin-top: 15px;
        }
    }

    &--recieved {
        & + & {
            margin-top: 15px;
        }
    }

    &--dots {
        opacity: 0;
        margin-top: 15px;
        transition: opacity 1s ease;

        .chat-messages--typing & {
            opacity: 100;
            transition: opacity .35s ease;
            transition-delay: 3s;
        }
    }
}

.chat-bubble {
    background: #F2D7EE;
    padding: 6px 10px;
    border-radius: 10px;
    color: #1a1a1a;
}

.chat-dots {
    width: 30px;
    height: 20px;
    fill: red;
}

.chat-dots, .chat-dot1 {
    fill: #1a1a1a;
    animation: Chat-dots 2s infinite;
}

.chat-dot2 {
    @extend .chat-dots;
    animation-delay: 0.3s;
}

.chat-dot3 {
    @extend .chat-dots;
    animation-delay: 0.6s;
}

.chat-input {
    position: absolute;
    display: flex;
    width: 500px;
    align-items: center;
    padding: 30px;
    border-top: 1px solid #ddd;
    background: white;
    border-radius: 0 0 20px 20px;
}

.chat-icon {
    width: 24px;
    height: 24px;
    fill: #888;
    cursor: pointer;

    &--smiley {
        fill: #9e9e9e;
    }

    & + & {
        margin-left: 30px;
    }
}

.chat-submitBtn {
    display: none;
}

.chat-inputField {
    font-size: 18px;
    flex: 1;
    border: none;

    &:focus {
        outline: none;
    }
}

@keyframes chat-dots {
    0% {
        opacity: 0;
        transform: translate(0, 1px);
    }

    50% {
        opacity: 1;
        transform: translate(0, -1px);
    }

    100% {
        opacity: 0;
        transform: translate(0, 1px);
    }
}
