<Row>
    <Div Class="cah-card">
        <Div Class="fullsize-container">
            <Div Class="front">
                <Paragraph>@BlackCard.Message</Paragraph>
            </Div>
            <Div Class="back">
                <Span Class="cah-card-text"
                      TextColor="TextColor.Light"
                      Position="Position.Absolute"
                      Flex="Flex.AlignItems.Center"
                      TextWeight="TextWeight.Bold">
                    Cards Against Humanity
                </Span>
            </Div>
        </Div>
    </Div>
</Row>
@code {
    [Parameter]
    public BlackCard BlackCard { get; set; }
}

