<Div Class="cah-card light" Margin="Margin.Is2.FromStart">
    <Div Class="fullsize-container">
        <Div Class="front">
            @if (WhiteCard is not null)
            {
                <Paragraph>@WhiteCard?.CardText</Paragraph>
            }
            else
            {
                <Span>
                    <SpinKit  Type="SpinKitType.Chase" Color="#bd32aa" Centered/>
                    Loading....
                </Span>
            }
        </Div>
        <Div Class="back">
            <Span Class="cah-card-text"
                  TextColor="TextColor.Dark"
                  Position="Position.Absolute"
                  Flex="Flex.AlignItems.Center"
                  TextWeight="TextWeight.Bold">
                Cards Against Humanity
            </Span>
        </Div>
    </Div>
</Div>